.black-background {
  background-color: black;
  border-bottom-width: 10px;
  border-bottom-color: red;
}
.bg-size {
  position: relative;
  min-height: 100vh;
}
.icon-div {
  padding-top: 80vh;
  padding-left: 40px;
  max-width: 20px;
}
.icons {
  color: white;
  opacity: 0.5;
  cursor: pointer;
}
.grid-img {
  position: absolute;
  top: 50px;
  left: 300px;
  filter: brightness(0) invert(1);
  width: 250px;
  height: 250px;
  z-index: 99;
}
.home-content {
  padding-top: 22vh;
  padding-left: 5vw;
  max-width: 900px;
  z-index: 10;
}
.home-content .main-header {
  margin: 0;
  font-size: clamp(2.6rem, 7.1vw, 8.8rem);
  font-weight: 700;
}
.home-content .description {
  margin-left: 18%;
  margin-top: 10%;
  max-width: 400px;
}
.description .main-description {
  font-weight: 500;
  font-size: clamp(1.1rem, 1.8vw, 2rem);
}
.resize-main-spline {
  position: absolute;
  bottom: 0;
  right: -120px;
}
.orange-liner {
  position: absolute;
  left: -100px;
  bottom: -50px;
  background-color: #dc6809;
  width: 1050vw;
  height: 10px;
  padding-bottom: 60px;
}

@media only screen and (min-width: 1600px) {
  .resize-main-spline {
    transform: scale(1.15);
  }
  .grid-img {
    width: 350px;
    height: 350px;
    left: 375px;
  }
}

@media only screen and (min-width: 1251px) and (max-width: 1599px) {
  .resize-main-spline {
    transform: scale(0.95) translateY(8vh) translateX(6vw);
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1250px) {
  .resize-main-spline {
    /* transform: scale(0.9); */
    width: 80vw !important;
    height: auto !important;
    left: 400px;
  }
  .header {
    padding-top: 18vh;
  }
  .grid-img {
    width: 180px;
    height: 180px;
    left: 220px;
    top: 80px;
  }
  .description {
    margin-left: 7%;
    margin-top: 10%;
    max-width: 280px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  .resize-main-spline {
    width: 85vw !important;
    height: auto !important;
    left: 300px;
  }
  .header {
    padding-top: 18vh;
  }
  .grid-img {
    width: 170px;
    height: 170px;
    left: 220px;
    top: 80px;
  }
  .description {
    margin-left: 7%;
    margin-top: 10%;
    max-width: 220px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .resize-main-spline {
    width: 100vw !important;
    height: auto !important;
    left: 200px;
  }
  .header {
    padding-top: 16vh;
  }
  .grid-img {
    width: 160px;
    height: 160px;
    left: 180px;
    top: 90px;
  }
  .home-content .description {
    margin-left: 7%;
    margin-top: 10%;
    max-width: 250px;
  }
  .icon-div {
    padding-top: 70vh;
    padding-left: 60px;
  }
}
@media only screen and (min-width: 440px) and (max-width: 700px) {
  .resize-main-spline {
    width: 100vw !important;
    height: auto !important;
    left: 0px;
  }
  .home-content {
    padding-top: 15vh;
  }
  .home-content .description {
    margin-left: 10%;
    margin-top: 6%;
    max-width: 290px;
  }
  .grid-img {
    width: 150px;
    height: 150px;
    left: 180px;
    top: 90px;
  }
  .icon-div {
    position: absolute;
    padding: 0;
    top: 120px;
    right: 80px;
    max-width: 200px;
  }
}
@media only screen and (min-width: 440px) and (max-width: 570px) {
  .grid-img {
    width: 140px;
    height: 140px;
    left: 180px;
    top: 90px;
  }
  .home-content {
    padding-top: 20vh;
  }
  .home-content .description {
    margin-left: 7%;
    margin-top: 8%;
    max-width: 310px;
  }
  .icon-div {
    max-width: 40px;
  }
}

@media (max-width: 460px) {
  .resize-main-spline {
    width: 160vw !important;
    height: auto !important;
    left: -90px;
  }
  .home-content {
    padding-top: 21vh;
  }
  .home-content .description {
    margin-left: 15%;
    margin-top: 7%;
    max-width: 300px;
  }
  .grid-img {
    width: 140px;
    height: auto;
    left: 130px;
    top: 90px;
  }
  .icon-div {
    padding-top: 16vh;
    padding-left: 82vw;
  }
  .coding-head-gif {
    position: absolute;
    bottom: 0;
    right: -110px;
    width: 150vw;
    height: auto;
  }
}

.blink {
  font-weight: 900;
  font-size: inherit;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
